@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --font-family: "Poppins", sans-serif;
    --maxwidth: 1400px;
    --color-light: #f3f3f3;
    --color-dark: #333333;
    --color-primary: #0962f0;
    --color-secondary: rgba(43, 56, 100, 0.9);
    --padding: 40px;
}

body {
    font-family: var(--font-family) !important;
    margin: 0;
    padding: 0;
}

.parent-container {
    position: relative;
    padding: var(--padding);
}
.child-container {
    min-height: inherit;
}
.title-container {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 5rem;
}
.font-header {
    font-size: 58px;
    line-height: 66px;
    font-weight: 600;
}
.font-sub {
    font-size: 30px;
    line-height: 38px;
    font-weight: 600;
}
.font-paragraph {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
}
.font-about {
    font-size: 150px;
    line-height: 100px;
    font-weight: 600;
}
.font-tech {
    font-size: 300px;
    line-height: 200px;
    font-weight: 600;
}
.navbar .navlink:hover {
    color: var(--color-primary) !important;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar {
    z-index: 99;
    transition:
        background-color 0.2s ease,
        box-shadow 0.2s ease;
}
.navbar-scrolled .navlink {
    color: var(--color-light) !important;
}
.navbar-scrolled {
    background-color: var(--color-secondary);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.navbar-scrolled .navlink:hover {
    color: var(--color-primary) !important;
}

button {
    border: 1px solid transparent;
    transition: 0.2s ease-in-out;
    padding: 10px 30px;
}

@media (max-width: 1330px) {
    .font-about {
        font-size: 120px;
        line-height: 100px;
    }
    .font-tech {
        font-size: 220px;
        line-height: 200px;
    }
}
@media (max-width: 1200px) {
    .navbar {
        background-color: var(--color-secondary);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    }
}

@media (max-width: 1024px) {
    .font-header {
        font-size: 48px;
        line-height: 56px;
    }
    .font-sub {
        font-size: 25px;
        line-height: 33px;
    }
    .font-paragraph {
        font-size: 18px;
        line-height: 26px;
    }
    .font-about {
        font-size: 100px;
        line-height: 100px;
    }
    .font-tech {
        font-size: 200px;
        line-height: 200px;
    }
}

@media (max-width: 768px) {
    .font-header {
        font-size: 40px;
        line-height: 48px;
    }
    .font-sub {
        font-size: 20px;
        line-height: 28px;
    }
    .font-paragraph {
        font-size: 17px;
        line-height: 25px;
    }
    .rate {
    }
}

@media (max-width: 550px) {
    .font-header {
        font-size: 38px;
        line-height: 46px;
    }
    .font-sub {
        font-size: 18px;
        line-height: 26px;
    }
    .font-paragraph {
        font-size: 16px;
        line-height: 24px;
    }
    .font-about {
        font-size: 60px;
        line-height: 100px;
    }
    .font-tech {
        font-size: 140px;
        line-height: 200px;
    }
}

@media (max-width: 460px) {
    .font-header {
        font-size: 30px;
        line-height: 38px;
    }
}
