.hero {
    min-height: 90vh;
    background: linear-gradient(
        360deg,
        rgba(248, 249, 250, 0.4) 0%,
        rgba(0, 123, 255, 0.2) 100%
    );
}
.title-container h1 {
    text-shadow: 2px 2px 4px #00000025;
    margin-bottom: 5rem;
    color: var(--color-dark);
}
.title-container h5 {
    color: var(--color-dark);
}
.button-container {
    max-width: fit-content;
    margin: 0 auto;
}
button.view {
    background: var(--color-primary);
    color: var(--color-light);
}
button.view:hover {
    background: none;
    border: 1px solid var(--color-dark);
    color: var(--color-dark);
}
button.contact {
    background: none;
    border: 1px solid var(--color-dark);
    color: var(--color-dark);
}
button.contact:hover {
    border: 1px solid transparent;
    background: var(--color-primary);
    color: var(--color-light);
}
